<!-- <div>
  <h2>Movie {{movieNumber}}</h2>
  <p>Release Date {{releaseDate}}</p>
  <table>
    <tr>
      <td>{{}}</td>
      <td><button class="btn btn-primary"></button></td>
    </tr>
    <tr>
      <td>{{}}</td>
      <td><button></button></td>
    </tr>
  </table>
</div> -->
<div class="btn-group" data-toggle="buttons">

    <label class="btn btn-primary" ng-model="bigData.breakfast" btn-checkbox>
      Breakfast
    </label>

    <label class="btn btn-primary" ng-model="bigData.lunch" btn-checkbox>
      Lunch
    </label>

    <label class="btn btn-primary" ng-model="bigData.dinner" btn-checkbox>
      Dinner
    </label>

</div>
